a {
  color: #2563ba;
  text-decoration: none;
}
.q-button {
  padding: 0.5rem 1rem;
  color: #ffffff;
  background-color: #2563eb;
  border-radius: 0.5rem;
}
.q-card {
  background-color: #ffffff;
  border-radius: 0.75rem;
}